<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "connection" class = "Connection.DbConnection">
        <property name = "driver" value = "com.mysql.jdbc.Driver"/>
        <property name= "url" value="jdbc:mysql://localhost:3306/Weather?verifyServerCertificate=false&amp;useSSL=true"/>
        <property name= "pwd" value="AbU422696" />
        <property name= "usr" value="root" />
    </bean>

    <bean id = "connectionH2" class="Connection.DbConnection">
        <property name = "driver" value = "org.h2.Driver"/>
        <property name= "url" value="jdbc:h2:~/test"/>
        <property name="pwd" value="test" />
        <property name="usr" value="test" />
    </bean>




    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>


</beans>